@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

html{
  height: 100%;
}

body {
  margin:0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans";
  font-style: normal;
  font-size: 16px;
}

.main-container {
  flex-grow: 1;
}

.index-background {
  background: url("../img/welcome.png"),url("../img/index-background.png ");
  background-repeat: no-repeat, no-repeat;
  background-position:center;
  width: 1200px;
  height: 485px;
}

.navigation {
  font-family: "PT Sans", sans-serif;
  color: black;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  width: 1200px;
  flex-direction: row;
  margin: 0 auto;
}

.navigation-link{
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: black;
  text-decoration: none;
}

.site-list {
  display: flex;
  justify-content: space-around;
  margin-right: auto;
}

.user-list {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
}

.navigation-item {
  margin-right: 33px;
}

.main-screen h1 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-screen p {
  font-size: 22px;
  font-weight: 400;
}

.main-container{
  width: 1200px;
  margin: 0 auto;
}

.main-screen {
  font-family: "PT Sans", sans-serif;
  padding-top: 63px;
  padding-left: 280px;
  width: 1200px;
  height: 282px;
  background: #ffffff;
}

.advantages-city {
  background: #83b3d3;
  color: #ffffff;
}

.advantages h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages p {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.advantages-home
  .advantages-gift
  .advantages-area
  .advantages-root
  .advantages-tourist {
  background: #83b3d3;
}

.advantages-food {
  background: #ffffff;
}

.advantages {

}

.search-question {
  text-transform: uppercase;
}

.search-hostels {
  background-color: #756257;
}
