@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin:0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans";
  font-style: normal;
  font-size: 18px;
}

.main-container {
  flex-grow: 1;
}

.index-background {
  background: url("../img/background-white.svg"),url("../img/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position:center;
  width: 1200px;
  height: 485px;
}

.navigation {
  font-family: "PT Sans", sans-serif;
  color: black;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  width: 1200px;
  flex-direction: row;
  margin: 0 auto;
}

.navigation-link.link-catalog {
  display:block;
  text-transform: uppercase;
  background-color: #756257;
  color: #ffffff;
  text-align: center;
  padding: 9px;
  border-radius: 4px;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: black;
  text-decoration: none;
}

.site-list {
  display: flex;
  justify-content: space-around;
  margin-right: auto;
}

.user-list {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
}

.navigation-item {
  margin-right: 33px;
}

.slide-title{
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantage-title {
  line-height: 36px;
  font-size: 22px;
  font-weight: 400;
}

.main-container{
  width: 1200px;
  margin: 0 auto;
}

.main-screen {
  font-family: "PT Sans", sans-serif;
  padding-top: 63px;
  padding-left: 280px;
  width: 1200px;
  height: 282px;
  background: #ffffff;
}

.advantages-city {
  background: #83b3d3;
  color: #ffffff;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-text {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.card-foto {
  margin:0;
  padding: 0;
  display:flex;
  background: #83b3d3;
  color: #ffffff;
}

.advantages-card {
  width: 400px;
  height: 384px;
  background: #83b3d3;
}

.search {
  display: flex;
  width: 1200px;
  flex-direction: column;
  text-align: center;
}

.search-title {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
}

.search-text {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.search-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 36px;
  display: block;
  width: 575px;
  height: 60px;
  background-color: #756257;
  color: #ffffff;
  text-align: center;
  border-radius: 10px;
  padding-top:13px;
}

.mailing {
  background: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position:center;
  width: 1200px;
  height: 411px;
}

.mailing-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.mailing-info {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #ffffff;
}

.mailing-form {
  border-radius: 10px;
}

.mailgun-button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  background-color: #83B3D3;
  border-radius: 0px 10px 10px 0px;
}

.filter-container {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  background: url("../img/catalog/catalog-background\ 1.jpg");
  background-repeat: no-repeat;
  background-position:center;
  width: 1200px;
  height: 411px;
  display:flex;
}

.filter-container h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.apply {
  background-color: #83B3D3;
}

.filter-search {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  text-transform: uppercase;
}

.foto-hotels {
  width: 180px;
  height: 120px;
}

.name-hotel {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
}

.button-hotels-more {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background-color:#756257;
  color: #ffffff;
  text-align: center;
  width: 151px;
  height: 37px;
  padding:9px;
  border-radius: 4px;
}

.hotels-link {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #83B3D3;
  color: #ffffff;
  text-align: center;
  padding:9px;
  border-radius: 4px;
}

.hotels-link.selected-link {
  background-color:#7DB54F;
  border-radius: 4px;
}

.rating {
  font-size: 16px;
  text-transform: uppercase;
}

.button-load {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  width: 625px;
  height: 55px;
  background-color: #83B3D3;
  border: 0;
}

.select-number {
  width: 160px;
  height: 48px;
  border: 2px solid #E6E6E6;
}

.pagination {
  background-color: #ffffff;
}

.pagination-link {
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  line-height: 20px;
  font-weight: 700;
}

.pagination-current {
  color: #242424;
  background-color: #F2F2F2;
}

.social-contact-number {
  font-size: 40px;
  line-height: 40px;
}

.page-footer {
  display: flex;
  width: 1200px;
  justify-content: space-around;
}
